" Show line number
set nu
set rnu

" With a map leader it's possible to do extra key combinations
" like <leader>w saves the current file
let mapleader = ","

" Ignore case when searching
set ignorecase

" When searching try to be smart about cases
set smartcase

" Highlight search results
set hlsearch

" Makes search act like search in modern browsers
set incsearch

" Show matching brackets when text indicator is over them
set showmatch
" How many tenths of a second to blink when matching brackets
set mat=2

" No annoying sound on errors
set noerrorbells
set novisualbell
set t_vb=
set tm=500

" Add a bit extra margin to the left
set foldcolumn=1

" Enable syntax highlighting
syntax enable

" Turn backup off, since most stuff is in SVN, git etc. anyway...
set nobackup
set nowb
set noswapfile

" Use spaces instead of tabs
set expandtab

" Be smart when using tabs ;)
set smarttab

" 1 tab == 4 spaces
set shiftwidth=4
set tabstop=4

" Linebreak on 500 characters
set lbr
set tw=500

set ai "Auto indent
set si "Smart indent
set wrap "Wrap lines

" Useful mappings for managing tabs
map <silent> <leader>tn :tabnew<cr>
map <leader>to :tabonly<cr>
map <leader>tc :tabclose<cr>
map <leader>tm :tabmove
map <silent> <f2> :tabprev<cr>
map <silent> <f3> :tabnext<cr>

" Go to recent file
nnoremap <C-n> :action RecentFiles<CR>
nnoremap <C-n> <ESC>:action RecentFiles<CR>

" Go to file
nnoremap <C-p> :action GotoFile<CR>
inoremap <C-p> <ESC>:action GotoFile<CR>
